In [ ]:
import pandas as pd
from tqdm import tqdm
import matplotlib.pyplot as plt
import seaborn as sns
from transformers import AutoModelForTokenClassification, AutoTokenizer
import torch
from huggingface_hub import login
from bs4 import BeautifulSoup
import spacy
from spacy.lang.ru.stop_words import STOP_WORDS
from transformers import pipeline
import re

%matplotlib inline
tqdm.pandas()

In [1]:
import pandas as pd

data = pd.read_csv("final_data.csv")
data

                        0                                    parsed_contacts
0           http://0-9.ru  {'phones': [], 'emails': [], 'addresses': [], ...
1          http://0009.ru  {'phones': ['84994262506', '89686027429'], 'em...
2          http://001k.ru                                                NaN
3         http://003ms.ru  {'phones': ['+74999990301', '+79370093003'], '...
4         http://003rt.ru  {'phones': [], 'emails': [], 'addresses': [], ...
...                   ...                                                ...
3042  http://1000uzlov.ru                                                NaN
3043     http://1000va.ru                                                NaN
3044  http://1000vann.com                                                NaN
3045     http://1000wt.ru                                                NaN
3046    http://1000zap.ru                                                NaN

[3047 rows x 2 columns]

In [2]:
num_non_nan = data["parsed_contacts"].count()
print(f"Количество непустых значений в parsed_contacts: {num_non_nan}")

Количество непустых значений в parsed_contacts: 670

In [7]:
data['processed_contacts'][1000]

'Не люблю менять тему разговора, но вот сейчас тот самый случай.'